@{
    ViewData["Title"] = "Manage Reservations";
}

<div class="text-center mb-3">
    <h2>@ViewData["Title"]</h2>
</div>

<div class="row">
    <div class="col-12 mb-3">
        <a href="BookingsManager/BookingDetails/0" class="btn btn-info"
           @*onclick="booking.add()"*@><i class="fas fa-plus"></i>Create New</a>
    </div>
</div>

<div class="ajax-loader">
    <img src="~/images/loading.gif" class="img-responsive" />
</div>
<table class="table table-borderless table-striped table-earning table-responsive">
    <thead>
        <tr>
            <th>Booking Code</th>
            <th>Customer Name</th>
            <th>Creation Date</th>
            <th>Arrival Date</th>
            <th>Travel Date</th>
            <th>Total Amount</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody id="bookingTable">
    </tbody>
</table>

@section scripts{
    <script src="~/lib/js/dashboard/booking.js" asp-append-version="true"></script>
}